* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#navbar-pinterest {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

/* NAV Seccion izquierda*/

.seccioni {
    height: 100%;   
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.seccioni__1 {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pinterest-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccioni__2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.seccioni__2  a {
    width: 100%;
    height: 50%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccioni__2 a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}

#pinterest-icon { 
    width: 38px;
    height: 38px;
    border-radius: 200px;
}

/* NAV Seccion central*/ 

.seccionc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 10;
    flex-grow: 5;
}

.finder {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding: 0px 0px 0px 20px;
    border-radius: 100px;
    background-color: rgb(216, 216, 216);
}

.finder img {
    width: 40px;
    height: auto;
    border-radius: 100px;
}

.finder input {
    width: 100%;
    height: 90%;
    background-color: rgb(216, 216, 216);
    border-style: none;
    border-radius: 100px;
}

/* NAV Seccion derecha*/

.secciond {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
}

#notifications {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notifications img {
    width: 48px;
    height: 48px;
    border-radius: 200px;
}

#notifications img:hover {
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 2px;
}

#message {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message img {
    width: 48px;
    height: 48px;
    border-radius: 200px;
}

#message img:hover {
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 2px;
}

#profile-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img img {
    width: 48px;
    height: 48px;
    border-radius: 200px;
}

#profile-img img:hover {
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 2px;
}

#flechita {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flechita img {
    width: 48px;
    height: 48px;
    border-radius: 200px;
}

#flechita img:hover {
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 2px;
}

/* Main */

#content {
    width: 100%;
    height: auto;
    padding-top: 90px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.card-image {
    width: 256px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card-image img {
    border-radius: 50px;
    padding: 10px;
    cursor: zoom-in;
}

.card-image div {
    width: 220px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    justify-items: end;
    align-content: space-between; 
    visibility: hidden;   
}

.card-image div h3 {
    grid-column: 1 / 3;
    text-align: center;
    font-size: xx-large;
}

.card-image div h3 button {
    width: 100px;
    height: 50px;
    background-color: rgb(161, 8, 8);
    color: rgb(255, 255, 255);
    border-radius: 100px;
}

.card-image div img {
    width: 30px;
    height: auto;    
    padding: 0px;
}

.card-image:hover > div {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    .secciond #notifications, #message, #profile-img, #flechita  {
        position: absolute;  
    } 

    .seccionc {
        position: absolute;
    }

    .finder input {
        width: 30px;
    }

    .seccioni__2 {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }
}



